<div class="exercise-detail">
  <div>
    <h2>Description</h2>
    <p>{{ selectedExercise.description }}</p>
  </div>
  <h2>Muscle group(s)</h2>
  <ul>
    <li *ngFor="let muscleGroup of muscleGroups">
      {{ muscleGroup.name }}
    </li>
  </ul>
  <div *ngIf="validLink">
    <h2>Instructional Video</h2>
    <iframe width="560" height="315" [src]="trustedLink" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    <!-- <iframe width="560" height="315" [src]="trustedLink" frameborder="0" allowfullscreen></iframe> -->
  </div>
</div>
