<div class="checklist">
  <div *ngFor="let muscleGroup of muscleGroups">
      <input type="checkbox" value="{{muscleGroup.id}}" (change)="changeMuscleGroups(muscleGroup.id)" [checked]="selectedMuscleGroups && selectedMuscleGroups.indexOf(muscleGroup.id)!=-1" [disabled]="!enableEdit">
      <label for="muscleGroup">{{muscleGroup.name}}</label>
  </div>
</div>
<button class="button" type="button" *ngIf="selectedMuscleGroups && selectedMuscleGroups.length > 0 && editExisting" (click)="editMuscleGroups()">Edit Muscle Groups</button>
