input[type="checkbox"] {
  background-color: transparent;
  margin: 0 1rem;

  font: inherit;
  width: 2rem;
  height: 2rem;
  border: 10px solid black;
  border-radius: 0.15em;

  cursor: pointer;
}
input[type="checkbox"]:hover {
  border: 10px solid var(--color-blue);
}

.checklist {
  margin-top: 2rem;
  column-count: 3;
  width: 60%;

}
