<app-error [error]="error" *ngIf="error"></app-error>
<div class="page-content" *ngIf="!loading && !error">
  <div class="goal-detail-top">
    <div class="button-title-wrapper">
      <a href="/goals" class="button">Back to dashboard</a>
      <h4 *ngIf="workouts.length > 0" class="goal-title">Workouts</h4>
      <h4 *ngIf="exercises.length > 0" class="goal-title">Exercises</h4>
    </div>
    <div *ngIf="goal" class="goal-detail">
      <div class="goal-info">
        <div class="goal-info-text">
        <h4 class="goal-title">
          Goal {{ goal.id }}
        </h4>
          <p><b>End Date:</b> {{ goal.endDate.split('T')[0] }}</p>
          <p *ngIf="goal.achieved" id="achieve">Goal Achieved</p>
          <p *ngIf="goal.fitnessProgramId">Fitness Program: {{goal.fitnessProgramId}}</p>
        </div>
        <div class="chart-wrapper">
          <div class="chart-percentage">
            <span class="chart-percentage__number">{{percentage}}%</span>
            <span class="chart-percentage__text">completed</span>
          </div>
          <canvas baseChart [data]="completeChart" [type]="doughnutChartType" [options]="chartOptions" class="goals-chart"></canvas>
        </div>
      </div>
    </div>
  </div>

    <div *ngIf="workouts">
        <app-workout-list [workouts]="workouts" [canCompleteWorkout]="true" (completeWorkout)="completeWorkout($event.id, goal.id)"></app-workout-list>
    </div>
    <div *ngIf="exercises">
      <p *ngFor="let exercise of exercises">
        {{exercise.name}} - {{exercise.complete ? 'completed' : 'not completed'}}
        <button *ngIf="!exercise.complete" (click)="completeExercise(exercise.id, goal.id)" class="button">Complete exercise</button>
      </p>
    </div>

</div>

<div *ngIf="loading" class="page-content goal-loading">
  <div class="loading__spinner">
    <div class="loading__spinner-part top">
      <div class="loading__spinner-rotator"></div>
    </div>
    <div class="loading__spinner-part bottom">
      <div class="loading__spinner-rotator"></div>
    </div>
  </div>
  <p class="loading__text">Loading goal {{goal.id}}...</p>
</div>
