#achieve
{
    color: var(--color-blue);
    font-weight: 500;
  text-transform: uppercase;
  text-shadow: 1.5px 1.5px var(--color-dark-grey-1);
}

.button {
  text-decoration: none;
}

.page-content {
  padding: 4rem 5rem 3rem 5rem;
}

.goal-detail {
  margin-top: 2rem;
}

.goal-loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
}

.goal-title {
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 3px solid var(--color-blue);
  letter-spacing: .25rem;
  padding-bottom: .5rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.goal-detail-top {
  display: flex;
  justify-content: space-between;
}

.button-title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.goal-info {
  display: flex;
  align-items: flex-end;
  margin-bottom: 1.5rem;
}

.goal-info-text {
  margin-right: 3rem;
  text-align: right;
}


////// Chart
.goals-chart {
  max-width: 180px;
  max-height: 180px;
}

.chart-wrapper {
  max-width: 200px;
  max-height: 200px;
  position: relative;
}

.chart-percentage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  text-transform: uppercase;

  &__number {
    font-weight: 500;
    letter-spacing: .1rem;
    font-size: 2.8rem;
    line-height: 3.5rem;
  }

  &__text {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
}
