.exercise-title {
  display: inline-block;
  padding: 1rem 4rem 1rem 0;
  margin-bottom: 1rem;
  margin-top: 2rem;
  font-size: 2.5rem;
  line-height: 2.5rem;
  text-transform: uppercase;
  font-weight: 500;
  border-bottom: 3px solid var(--color-blue);
  color: white;
}

fieldset {
  width: 100%;
  margin: 2rem 0;
}

label {
  width: 10%;
}

input[type="text"] {
  width: 50%;
  margin: .5rem 0;
}

.field-item {
  display: flex;
  align-items: center;
}

.success {
    color: green;
    font-weight: bold;
}

.exercise-loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 500px;
}

////// Loading spinner
.loading__spinner, .loading__spinner * {
  box-sizing: border-box;
}

.loading__spinner {
  height: 60px;
  width: 60px;
}

.loading__text {
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: .25rem;
  margin-top: 4rem;
}

.loading__spinner .loading__spinner-part {
  overflow: hidden;
  height: calc(60px / 2);
  width: 60px;
}

.loading__spinner  .loading__spinner-part.bottom {
  transform: rotate(180deg) scale(-1, 1);
}

.loading__spinner .loading__spinner-rotator {
  width: 60px;
  height: 60px;
  border: calc(60px / 7) solid transparent;
  border-right-color: var(--color-blue);
  border-top-color: var(--color-blue);
  border-radius: 50%;
  box-sizing: border-box;
  animation: loading-spinner-animation 3s ease-in-out infinite;
  transform: rotate(-200deg);
}

@keyframes loading-spinner-animation {
  0% {
    border-width: calc(60px / 7);
  }
  25% {
    border-width: calc(60px / 23.33);
  }
  50% {
    transform: rotate(115deg);
    border-width: calc(60px / 7);
  }
  75% {
    border-width: calc(60px / 23.33);
  }
  100% {
    border-width: calc(60px / 7);
  }
}
