<app-error [error]="error" *ngIf="error"></app-error>
<app-success [item]="'exercise'" *ngIf="success"></app-success>
<p *ngIf="loading">Loading exercise form...</p>

<div *ngIf="loading" class="exercise-loading">
  <div class="loading__spinner">
    <div class="loading__spinner-part top">
      <div class="loading__spinner-rotator"></div>
    </div>
    <div class="loading__spinner-part bottom">
      <div class="loading__spinner-rotator"></div>
    </div>
  </div>
  <p class="loading__text">Loading exercise form...</p>
</div>

<form #exerciseCreateForm="ngForm" (ngSubmit)="exerciseCreateSubmit(exerciseCreateForm)" *ngIf="!loading">
    <p class="exercise-title">Create Exercise</p>
    <p *ngIf="success" class="success">Exercise successfully created</p>
    <fieldset class="content">
        <div class="field-item">
            <label for="exerciseName" class="label-description">Name* </label>
            <input type="text" ngModel name="exerciseName"
            placeholder="{{exercise != undefined ? exercise.name : '(e.g. Squat)'}}" required [disabled]="exercise != null && !editName" [value]="exercise != null ? exercise.name : ' '">
            <button type="button" *ngIf="exercise" (click)="editItem('name')" class="button">Edit Name</button>
        </div>
        <div class="field-item">
            <label for="exerciseDescription" class="label-description">Description* </label>
            <input type="text" ngModel name="exerciseDescription" placeholder="{{exercise != undefined ? exercise.description : '(e.g. Bend your legs)'}}" required [disabled]="exercise != null && !editDescription" [value]="exercise != null ? exercise.description : ' '">
            <button type="button" *ngIf="exercise" (click)="editItem('description')" class="button">Edit Description</button>
        </div>
        <div class="field-item">
            <label for="exerciseImage" class="label-description">Image link* </label>
            <input type="text" ngModel name="exerciseImage" placeholder="{{exercise != undefined ? exercise.image: '(e.g. https://www.publicdomainpictures.net/pictures/320000/velka/squats-157857424579J.jpg)'}}" required [disabled]="exercise != null && !editImage" [value]="exercise != null ? exercise.description : ' '">
            <button type="button" *ngIf="exercise" (click)="editItem('image')" class="button">Edit Image Link</button>
        </div>
      <div class="field-item">
        <label for="exerciseVidLink" class="label-description">Video link* </label>
        <input type="text" ngModel name="exerciseVidLink" placeholder="{{exercise != undefined ? exercise.vidLink: '(e.g. https://www.youtube.com/watch?v=afghBre8NlI)'}}" required [disabled]="exercise != null && !editVidLink" [value]="exercise != null ? exercise.vidLink : ' '">
        <button type="button" *ngIf="exercise" (click)="editItem('video')" class="button">Edit Video Link</button>
      </div>
    </fieldset>
    <fieldset>
      <p>Select one or more musclegroup(s) for this exercise:</p>
      <app-musclegroups-checklist [editExisting]="exercise != undefined" [muscleGroups]="muscleGroups" (changedMuscleGroups)="changeMuscleGroups($event)" [selectedMuscleGroups]="muscleGroupIds"></app-musclegroups-checklist>
    </fieldset>
    <fieldset>
        <p *ngIf="exerciseCreateForm.form.invalid && exerciseCreateForm.form.dirty" class="error">
            Please fill in the required fields
        </p>
        <button type="submit" [disabled]="exerciseCreateForm.form.invalid" class="button">
            {{exercise != null ? 'Update' : 'Save'}} exercise
        </button>
        <button type="reset" class="button">Reset form</button>
    </fieldset>

</form>
