.header {
  font-size: 1.6rem;
  height: 7.2rem;
  background-color: var(--color-dark-grey-1);

  display: flex;
  align-items: center;
}

.logo {
  height: 5rem;
  margin-left: 1.3rem;
}

.top-nav {
  list-style: none;
  padding: 0 2rem;
  display: flex;
  justify-content: flex-start;
  align-self: stretch;

  &__item {
    position: relative;
    padding: 0 2rem 0.7rem 2rem;
    display: flex;
    align-items: flex-end;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: var(--color-blue);
      transform: scaleX(0);
      transition: transform .2s, height .4s cubic-bezier(1,0,0,1) .2s;
    }

    &:hover::before,
    &--active::before{
      transform: scaleX(1);
      height: 100%;
    }

  }

  &__link:link,
  &__link:visited {
    letter-spacing: .25rem;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    position: relative;
    z-index: 10;
    //align-self: flex-end;
  }
}

//// USER NAV
.user-nav:hover .user-nav__icon {
  fill: var(--color-dark-grey-1);
  transition-delay: .4s;
}

.user-nav {
  margin-left: auto;
  padding: 0 2rem .7rem 0;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-self: stretch;

  letter-spacing: .25rem;
  text-transform: uppercase;
  cursor: pointer;

  &__user {
    position: relative;
    z-index: 10;
  }

  &__icon {
    width: 3rem;
    height: 3.5rem;
    margin: -.75rem 1rem;
    fill: var(--color-blue);
    position: relative;
    z-index: 10;
  }

  &:hover ul,
  &:focus ul {
    opacity: 1;
    visibility: visible;
  }

  &__dropdown:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    right: 20px;
    top: -10px;

    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent var(--color-dark-grey-1) transparent;
  }

  &__dropdown {
    position: absolute;
    right: 0;
    top: 100%;
    min-width: 15rem;
    padding: 1.5rem;
    gap: 2rem;
    border-radius: 3px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: var(--color-dark-grey-1);
    box-shadow: .2rem .2rem 2rem rgba(0,0,0,.3);

    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms ease-in-out;
    z-index: 5;
  }

  &__drop-icon {
    width: 2rem;
    height: 2rem;
    margin-right: 2rem;
    fill: var(--color-blue);
    position: relative;
    z-index: 10;
  }

  &__item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &::after {
      content: "";
      width: 0;
      height: .3rem;
      border-radius: .2rem;
      position: absolute;
      right: 1.5rem;
      margin-top: 3rem;
      background-color: var(--color-blue);
      transition: width 200ms ease-in;
    }

    &:hover::after,
    &:focus::after,
    &--active::after {
      width: 25%;
    }
  }

  &__link:link,
  &__link:visited {
    white-space: nowrap;
    letter-spacing: inherit;
    text-transform: inherit;
    text-decoration: inherit;
    color: inherit;
    position: inherit;
    z-index: inherit;
  }
}
