<nav *ngIf="authenticated" class="header">
  <a href="./">
    <img src="../../../assets/img/logo.png" alt="MeFit Logo" class="logo">
  </a>

  <ul class="top-nav">
    <li *ngIf="!authenticated" class="top-nav__item"><a routerLink="/" class="top-nav__link">Login</a></li>

    <ng-container *ngIf="authenticated && registered">
      <li class="top-nav__item" routerLinkActive="top-nav__item--active">
        <a routerLink="/programs" class="top-nav__link">Programs</a>
      </li>
      <li class="top-nav__item" routerLinkActive="top-nav__item--active">
        <a routerLink="/workouts" class="top-nav__link">Workouts</a>
      </li>
      <li class="top-nav__item" routerLinkActive="top-nav__item--active">
        <a routerLink="/exercises" class="top-nav__link">Exercises</a>
      </li>
    </ng-container>
  </ul>

  <ng-container *ngIf="authenticated && registered" >

    <div class="user-nav top-nav__item">

      <div class="user-nav__user">
        <svg class="user-nav__icon">
          <use xlink:href="../../../assets/img/icons.svg#icon-user"></use>
        </svg>
        <span class="user-nav__username">{{fullName}}</span>
      </div>

      <span class="user-nav__triangle"></span>

      <ul class="user-nav__dropdown">
        <li class="user-nav__item" routerLinkActive="user-nav__item--active">
          <svg class="user-nav__drop-icon">
            <use xlink:href="../../../assets/img/icons.svg#icon-target"></use>
          </svg>
          <a routerLink="/goals" class="user-nav__link">Goals</a>
        </li>
        <li class="user-nav__item" routerLinkActive="user-nav__item--active">
          <svg class="user-nav__drop-icon">
            <use xlink:href="../../../assets/img/icons.svg#icon-user"></use>
          </svg>
          <a routerLink="/profile" class="user-nav__link">Profile</a>
        </li>

        <ng-container *ngIf="isContributor">
          <li class="user-nav__item" routerLinkActive="user-nav__item--active">
            <svg class="user-nav__drop-icon" viewBox="0 0 27.2 33.4">
              <g>
                <g>
                  <path d="M25.1,32.6H2.2c-0.6,0-1.1-0.5-1.1-1.1V1.9c0-0.6,0.5-1.1,1.1-1.1h22.9c0.6,0,1.1,0.5,1.1,1.1v29.5
                    C26.2,32.1,25.7,32.6,25.1,32.6z M3.3,30.3h20.6V3.1H3.3V30.3z"/>
                </g>
                <g>
                  <path d="M20.6,14h-6.7c-0.6,0-1.1-0.5-1.1-1.1s0.5-1.1,1.1-1.1h6.7c0.6,0,1.1,0.5,1.1,1.1S21.2,14,20.6,14z"/>
                </g>
                <g>
                  <path d="M20.6,20.4h-6.7c-0.6,0-1.1-0.5-1.1-1.1c0-0.6,0.5-1.1,1.1-1.1h6.7c0.6,0,1.1,0.5,1.1,1.1C21.7,19.9,21.2,20.4,20.6,20.4z
                    "/>
                </g>
                <g>
                  <path d="M20.6,26.9h-6.7c-0.6,0-1.1-0.5-1.1-1.1c0-0.6,0.5-1.1,1.1-1.1h6.7c0.6,0,1.1,0.5,1.1,1.1C21.7,26.4,21.2,26.9,20.6,26.9z
                    "/>
                </g>
                <g>
                  <path d="M20.5,5.2H6.5C5.7,5.2,5,4.5,5,3.7V3.4c0-0.8,0.7-1.5,1.5-1.5h14.1c0.8,0,1.5,0.7,1.5,1.5v0.3C22,4.5,21.3,5.2,20.5,5.2z"
                  />
                </g>
                <g>
                  <path d="M7.9,14.9c-0.2,0-0.4-0.1-0.5-0.2l-1.8-1.6c-0.3-0.3-0.3-0.8-0.1-1.1c0.3-0.3,0.8-0.3,1.1-0.1l1.2,1.1l2-2.1
                    c0.3-0.3,0.8-0.3,1.1,0c0.3,0.3,0.3,0.8,0,1.1l-2.5,2.6C8.3,14.8,8.1,14.9,7.9,14.9z"/>
                </g>
                <g>
                  <path d="M7.9,21.4c-0.2,0-0.4-0.1-0.5-0.2l-1.8-1.6c-0.3-0.3-0.3-0.8-0.1-1.1c0.3-0.3,0.8-0.3,1.1-0.1l1.2,1.1l2-2.1
                    c0.3-0.3,0.8-0.3,1.1,0c0.3,0.3,0.3,0.8,0,1.1l-2.5,2.6C8.3,21.3,8.1,21.4,7.9,21.4z"/>
                </g>
                <g>
                  <path d="M7.9,27.8c-0.2,0-0.4-0.1-0.5-0.2l-1.8-1.6c-0.3-0.3-0.3-0.8-0.1-1.1c0.3-0.3,0.8-0.3,1.1-0.1L7.9,26l2-2.1
                    c0.3-0.3,0.8-0.3,1.1,0c0.3,0.3,0.3,0.8,0,1.1l-2.5,2.6C8.3,27.7,8.1,27.8,7.9,27.8z"/>
                </g>
              </g>
            </svg>
            <a routerLink="/contributor/dashboard" class="user-nav__link">Contributor Dashboard</a>
          </li>
        </ng-container>

<!--        <ng-container *ngIf="isAdmin">-->
<!--          <li class="user-nav__item" routerLinkActive="user-nav__item&#45;&#45;active">-->
<!--            <a href="https://mefit-keycloak-heroku.herokuapp.com/auth/admin" class="user-nav__link">Admin Dashboard</a>-->
<!--          </li>-->
<!--        </ng-container>-->

        <li class="user-nav__item" (click)="onLogoutClick()">
          <svg class="user-nav__drop-icon">
            <use xlink:href="../../../assets/img/icons.svg#icon-log-out"></use>
          </svg>
          Logout
        </li>
      </ul>

    </div>

  </ng-container>

</nav>
