.programs-page {
  font-size: 1.6rem;
  padding: 3rem 5rem;

  &__select {
    display: flex;
  }

  &__select > * {
    margin-right: 3rem;
  }

  &__select-drop {
    font-family: inherit;
    font-size: inherit;

    padding: .5rem;
  }

  &__select-drop-description {
    margin-right: 1rem;
  }
}
