<div class="programs-page">
  <ng-container *ngIf="loading">
    <p>Loading programs...</p>
  </ng-container>

  <ng-container *ngIf="!loading" class="programs-page__select-type">
    <div class="programs-page__select">
      <select #programTypes (change)="OnProgramTypeSelect()" class="programs-page__select-drop">
        <option *ngFor="let programType of allPossibleTypesOfPrograms">
          {{ programType }}
        </option>
      </select>

      <div class="programs-page__select-item">
        <label class="programs-page__select-drop-description">Programs per page:</label>
        <select (change)="ChangePageSizeEvent($event)" class="programs-page__select-drop">
          <option *ngFor="let pageSizeOption of pageSizeOptions">
            {{ pageSizeOption }}
          </option>
        </select>
      </div>
    </div>

    <ul>
      <app-program-details
        *ngFor="let program of currentlyShowingFitnessPrograms"
        [program]="program"
        [ableToEditProgram]="ableToEditProgram"
        (editProgram)="EditProgram($event)"
      >
      </app-program-details>
    </ul>

    <mat-paginator
    #paginator
    [length]="currentlySelectedFitnessPrograms.length"
    [pageSize]="firstPageSizeOptions"
    (page)="OnPageChange($event)"
    [hidePageSize]="true"
    aria-label="Select page"
  >
  </mat-paginator>
  </ng-container>

</div>
