<app-error [error]="error" *ngIf="error"></app-error>
<div *ngIf="workouts.length > 0 && !error">
    <h2>Previously created workouts</h2>
    <p *ngIf="loading">Loading workouts...</p>
    <ul *ngIf="!loading">
        <li *ngFor="let workout of workouts">
            <app-user-workouts-history-item [workout]="workout"></app-user-workouts-history-item>
        </li>
    </ul>
</div>