li {
    list-style-type: none;
    margin: 1em;
}
li a {
    color: white; 
    border-bottom: 2px solid white;
    text-decoration: none;
    padding: 0.5em;
}
li a:hover {
    border-bottom: 2px solid var(--color-blue);
}
