<h3>Exercise: {{exercise.name}}</h3>
<app-exercise-create [editExercise]="exercise" *ngIf="edit"></app-exercise-create>
<button type="button" class="button" (click)="changeEdit()">{{edit ? 'Hide': 'Edit'}} {{exercise.name}}</button>