<div class="container">
    <h1>404 Page Not Found</h1>
    <div class="container__img">
        <img src="../../assets/img/404.jpg" id="not-found">
    </div>
    <app-redirect-timer [time]="time">
    </app-redirect-timer>
</div>