.goals-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  color: white;
  border-radius: 3px;
  aspect-ratio: 1 / 1;
  cursor: pointer;

  &__title {
    font-size: 1.8rem;
    font-weight: 700;

    text-transform: uppercase;
    letter-spacing: .25rem;

    align-self: flex-start;
    margin-top: 1rem;

  }
}

.chart-wrapper {
  position: relative;
}

.goals-chart {
  width: 70%;
  padding-bottom: .5rem;
}

.chart-percentage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  text-transform: uppercase;

  &__number {
    font-weight: 500;
    letter-spacing: .1rem;
    font-size: 2.8rem;
    line-height: 3.5rem;
  }

  &__text {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
}
