<span *ngIf="!loading">
  <span class="goals-list">
    <span [routerLink]="selectedGoal.id.toString()" class="goals-list-item">
      <span class="goals-list-item__title">Goal {{selectedGoal.id}}</span>
      <div class="chart-wrapper">
        <div class="chart-percentage">
          <span class="chart-percentage__number">{{percentage}}%</span>
          <span class="chart-percentage__text">completed</span>
        </div>
        <canvas baseChart [data]="completeChart" [type]="doughnutChartType" [options]="chartOptions" class="goals-chart"></canvas>
      </div>
      <span>
        End date: {{selectedGoal.endDate.split('T')[0]}}
      </span>
    </span>
  </span>
</span>
