<app-error [error]="error" *ngIf="error"></app-error>
<main class="workouts-page" *ngIf="!error">
  <div class="workouts-page__select">
    <div class="workouts-page__select-workout-type">
      <select class="workouts-page__select-drop" (change)="ChangeWorkoutTypeEvent($event)">
        <option *ngFor="let workoutType of workoutTypes" value="{{workoutType}}">
          {{ workoutType }}
        </option>
      </select>
    </div>

    <div class="workouts-page__select-item">
      <label class="workouts-page__select-drop-description">Workouts per page:</label>
      <select class="workouts-page__select-drop" (change)="ChangePageSize($event)">
        <option *ngFor="let pageSizeOption of pageSizeOptions">
          {{ pageSizeOption }}
        </option>
      </select>
    </div>
  </div>

  <div class="workouts-page__content">
    <p *ngIf="loading">Loading workouts....</p>

    <app-workout-list [workouts]="limitWorkouts" [canAddToProgram]="canAddToProgram"></app-workout-list>
    <mat-paginator
      #paginator
      [length]="this.selectedWorkouts.length"
      [pageSize]="3"
      (page)="OnPageChange($event)"
      [hidePageSize]="true"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</main>
