<app-error [error]="error" *ngIf="error"></app-error>
<div *ngIf="!error" class="page-content profile-page">
    <app-profile-data *ngIf="!editProfilePage" (editProfile)="SwitchEditProfilePage()" [imgURL]="imgURL"></app-profile-data>
    <app-edit-profile *ngIf="editProfilePage" (stopEditProfile)="SwitchEditProfilePage()" [imgURL]="imgURL" (reloadProfilePicture)="GetProfileImage()"></app-edit-profile>
</div>
