li {
    list-style: circle;
    margin-left: 1.25em;
}

.workout-checklist {

  &__row-box {
    display: flex;
    align-items: center;
    margin: .5rem 0;
    cursor: pointer;
  }

  &__row {
    display: grid;
    grid-template-columns: 20% 15% 15%;
    grid-template-rows: auto;
    width: 100%;
  }

  &__name {
    grid-column-start: 1;
    grid-column-end: 1;
  }

  &__type {
    grid-column-start: 2;
    grid-column-end: 2;
  }

  &__button {
    grid-column-start: 3;
    grid-column-end: 3;
  }
}

input[type="checkbox"] {
  background-color: transparent;
  margin: 0 1rem;

  font: inherit;
  width: 2rem;
  height: 2rem;
  border: 10px solid black;
  border-radius: 0.15em;

  cursor: pointer;
}

input[type="checkbox"]:hover {
  border: 10px solid var(--color-blue);
}
