<div class="workout-checklist">
  <div class="workout-checklist__row-box">
    <input type="checkbox" name="workouts" (change)="workoutCheckboxChange(workout.id)" [checked]="selectedWorkouts.indexOf(workout.id) != -1" [value]="workout.id">
    <div class="workout-checklist__row">
      <span class="workout-checklist__name">{{workout.name}}</span>
      <span class="workout-checklist__type">{{workout.type}}</span>

      <button type="button" (click)="displayExercises()" class="workout-checklist__button">
        {{showExercises ? 'Hide Exercises' : 'Show Exercises'}}
      </button>
    </div>
  </div>
</div>


<ul *ngIf="exercises && showExercises">
  <span *ngIf="loading">Loading exercises..</span>
  <span *ngIf="!loading">
    <li *ngFor="let exercise of exercises">
        {{exercise.name}} - {{exercise.totalSets}} total sets and {{exercise.reps}} reps
    </li>
  </span>
</ul>
