img {
  position: absolute;
  top: 3rem;
  right: 5rem;
}

.profile-title {
  display: inline-block;
  padding: 1rem 4rem 1rem 0;
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 3px solid var(--color-blue);
  letter-spacing: .25rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.page-title {
  margin-bottom: 3rem;
}
