<span class="page-title">
  <span class="page-title__bold">Welcome</span>
  <span class="page-title__light">{{fullName}}</span>
</span>
<img [src]="imgURL" height="116" width="116">
<p></p>
<span class="info-description">Email address: </span><span class="info">{{email}}</span>
<p>Contributor status: I am {{isContributor ? "a contributor" : "not a contributor"}}</p>

<p class="profile-title">Current address</p>
<p>Country: {{address.country}}</p>
<p>City: {{address.city}}</p>
<p>Street: {{address.addressLine1}} {{address.addressLine2}}{{address.addressLine3}}</p>
<p>Postal code: {{address.postalCode}}</p>

<p class="profile-title">Fitness attributes</p>
<p>Weight: {{weight}}</p>
<p>Height: {{height}}</p>
<p>Disabilities: {{profile.disabilities}}</p>
<p>Medical condition: {{profile.medicalConditions}}</p>
<p>Fitness rating: {{profile.fitnessEvaluation}}</p>

<p></p>
<button (click)="EnableEditingProfile()" class="button">Edit profile</button>
<p></p>
<button (click)="EditAccountInfo()" class="button">See/ edit account info & set-up 2 factor authentication</button>
