<div class="page-content">
  <div class="contributor__header">
    <section class="page-title">
      <span class="page-title__bold">Contributor</span>
      <span class="page-title__light">Dashboard</span>
    </section>
    <div class="contributor__header-nav">
      <button (click)="displayProgram()" class="{{newProgram ? 'contributor__header-nav-button-active' : 'contributor__header-nav-button'}}">{{newProgram ? 'Hide Program Create' : 'Show Program Create'}}</button>
      <button (click)="displayWorkout()" class="{{newWorkout ? 'contributor__header-nav-button-active' : 'contributor__header-nav-button'}}">{{newWorkout ? 'Hide Workout Create' : 'Show Workout Create'}}</button>
      <button (click)="displayExercise()" class="{{newExercise ? 'contributor__header-nav-button-active' : 'contributor__header-nav-button'}}">{{newExercise ? 'Hide Exercise Create' : 'Show Exercise Create'}}</button>
    </div>
  </div>

  <div class="contributor__dashboard">
    <app-program-form *ngIf="newProgram"></app-program-form>
    <app-workout-create *ngIf="newWorkout"></app-workout-create>
    <app-exercise-create  *ngIf="newExercise"></app-exercise-create>
    <app-user-workouts-history *ngIf="newWorkout"></app-user-workouts-history>
    <app-user-exercises-history *ngIf="newExercise"></app-user-exercises-history>
  </div>
</div>
