.contributor {
  &__header {
    display: flex;
    justify-content: space-between;

    &-nav {
      display: flex;
      align-items: flex-end;
      column-gap: 2rem;

      &-button,
      &-button-active {
        font-family: inherit;
        font-size: var(--button-font-size);
        font-weight: 300;
        text-transform: var(--button-texttransform);
        letter-spacing: var(--button-letterspacing);
        cursor: pointer;
      }

      &-button {
        background-color: transparent;
        border: none;
        padding: 1rem 0;
        border-bottom: 2px solid white;
        color: white;

        &:hover {
          background-color: transparent;
          border-bottom: 2px solid var(--color-blue);
        }
      }

      &-button-active {
        background-color: transparent;
        border: none;
        padding: 1rem 0;
        color: white;
        border-bottom: 2px solid var(--color-blue);

        &:hover {
          background-color: transparent;
          border-bottom: 2px solid white;
        }
      }
    }
  }

  &__dashboard {
    margin-top: 5rem;
  }
}
