<app-error [error]="error" *ngIf="error"></app-error>
<main class="exercise-page" *ngIf="!error">
  <div class="exercise-page__select">
    <p *ngIf="loading">Loading exercises....</p>
    <div class="exercise-page__select-musclegroup">
      <select (change)="changeMuscleGroup($event)" class="exercise-page__select-drop">
        <option value="" disabled selected>Select a muscle group</option>
        <option value="0">All exercises</option>
        <option *ngFor="let muscleGroup of muscleGroups" [value]="muscleGroup.id">
          {{muscleGroup.name}}
        </option>
      </select>
    </div>

    <div class="exercise-page__select-item">
      <label class="exercise-page__select-drop-description">Exercises per page:</label>
      <select (change)="ChangePageSizeEvent($event)" class="exercise-page__select-drop">
        <option *ngFor="let pageSizeOption of pageSizeOptions">
          {{ pageSizeOption }}
        </option>
      </select>
    </div>
  </div>

  <div class="exercise-page__content">
    <app-exercise-list [exercises]="limitExercises"></app-exercise-list>
    <mat-paginator
      #paginator
      [length]="selectedExercises.length"
      [pageSize]="10"
      (page)="OnPageChange($event)"
      [hidePageSize]="true"
      matTooltipDisabled="true"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</main>
