.exercise-page {
  font-size: 1.6rem;
  padding: 3rem 5rem;

  &__select {
    display: flex;
  }

  &__select > * {
    margin-right: 3rem;
  }

  &__select-drop {
    font-family: inherit;
    font-size: inherit;

    padding: .5rem;
  }

  &__select-drop-description {
    margin-right: 1rem;
  }

  &__content {

  }
}

::ng-deep .mat-paginator {
  .ng-reflect-message {
    display: none;
  }
  .mat-paginator-container {
    justify-content: center;
  }

  .mat-tooltip {
    display: none;
  }

  .mat-icon-button {
    background-color: transparent;
  }

  .mat-paginator-icon {
    width: 35px;
  }

  // override material paginator page switch
  .mat-paginator-range-label {
    order: 2;
    margin: 0 auto;
  }

  .mat-paginator-navigation-previous {
    order: 1;
    margin-right: 1rem

  }
  .mat-paginator-navigation-next {
    order: 3;
    margin-left: 1rem;

  }
}

