<div class="exercise-list-header">
  <span class="exercise-list-header__name">Exercise</span>
  <span class="exercise-list-header__sets">Sets</span>
  <span class="exercise-list-header__reps">Reps</span>
  <span class="exercise-list-header__dropdown"></span>
</div>
<ul class="exercise">
  <app-exercise-list-item
    *ngFor="let exercise of exercises"
    [exercise]="exercise"
  >
  </app-exercise-list-item>
</ul>
