.exercise-list-header {
    display: grid;
    grid-template-columns: 40% 20% 20% 20%;
    grid-template-rows: auto;

    text-transform: uppercase;
    padding: 1rem 0;

    & > * {
      border-bottom: 2px solid white;
      padding: .5rem 0;
    }

    &__name {
      grid-column-start: 1;
      grid-column-end: 1;
      padding-left: 2.5rem !important;
    }

    &__sets {
      grid-column-start: 2;
      grid-column-end: 2;

    }

    &__reps {
      grid-column-start: 3;
      grid-column-end: 3;

    }

    &__dropdown {
      grid-column-start: 4;
      grid-column-end: 4;

    }
  }
