<app-success [item]="'fitness program'" *ngIf="success" [update]="currentProgram != undefined ? true : false"></app-success>
<app-error *ngIf="error"></app-error>
<div class="program-form" *ngIf="!loading && !error">
    <button (click)="ShowCreateNewProgram(undefined)" class="program-form__button">{{ showCreateNewProgram ? 'Stop create' : 'Create' }} program</button>
  <ng-container *ngIf="!showCreateNewProgram">
    <app-program-list [currentFitnessPrograms]="allPrograms" [ableToEditProgram]="true" (editProgram)="ShowCreateNewProgram($event)"> </app-program-list>
  </ng-container>

  <ng-container *ngIf="showCreateNewProgram">
      <form [formGroup]="programForm">
          <p></p>
          <div>
              <label for="name">Name*: </label>
              <input id="name" type="text" formControlName="name" placeholder="Program name" class="program-form__input-field"/>
              <ng-container *ngIf="programForm.controls['name'].invalid && programForm.controls['name'].touched">
                  <p *ngIf="programForm.controls['name'].errors?.['required']">Name is required</p>
                  <p *ngIf="programForm.controls['name'].errors?.['minlength']">Name has a minimal length of 5</p>
                  <p *ngIf="programForm.controls['name'].errors?.['maxlength']">Name has a maximum length of 100</p>
              </ng-container>
          </div>

          <p></p>
          <div>
              <label for="category">Program type*: </label>
              <select id="category" type="text" formControlName="category" class="program-form__select-type">
                  <option *ngFor="let programType of programTypes">
                      {{ programType }}
                  </option>
              </select>
          </div>

          <p></p>
          <app-workouts [canAddToProgram]="true"></app-workouts>
          <p class="program-form-last-item">Currently selected programs: {{GetNamesOfAllCurrentlyAddedWorkouts()}}</p>

          <button [disabled]="!CheckIfCanAddProgram()" (click)="CreateNewProgram()" class="program-form__button">{{editingProgram ? 'Edit' : 'Add'}} program</button>
      </form>
  </ng-container>
</div>
