.program-form {
  margin-top: 2rem;

  &__button {
    border: none;
    border-radius: var(--button-border-radius);
    box-shadow: var(--button-box-shadow);
    font-size: var(--button-font-size);
    font-weight: var(--button-font-weight);
    font-family: inherit;
    background-color: var(--button-backgroundcolor);
    cursor: var(--button-cursor);

    padding: var(--button-padding);
    text-transform: var(--button-texttransform);
    letter-spacing: var(--button-letterspacing);
    transition: all .3s;

    &:hover {
      background-color: var(--button-backgroundcolor-hover);
      box-shadow: var(--button-box-shadow-hover);
      color: var(--button-color-hover);
    }
  }

  &__input-field {
    font-family: inherit;
    font-size: inherit;

    padding: .5rem .5rem .5rem 1rem;
    margin-left: 1rem;
  }

  &__select-type {
    font-family: inherit;
    font-size: inherit;

    padding: .5rem;
    margin: 1rem 0 0 1rem;
  }

  &-last-item {
    margin-bottom: 2rem;
  }
}

form {
  margin: 2rem 0;
}
