<div class="container">
  <ng-container *ngIf="!authenticated">
    <div class="login-page">
      <div class="login-description">
        <span class="page-title__light">Welcome to</span>
        <img src="../../../assets/img/logo.png" alt="MeFit Logo" class="logo">
        <div class="text-wrapper">
          <span class="text">The no. 1</span>
          <span class="text">fitness app</span>
        </div>

      </div>
      <div class="login-click">
        <span class="text">To start with your fit journey,</span>
        <span class="text">you first need to login/register</span>
        <button (click)="doLogin()" class="button">Login/register</button>
      </div>
    </div>
  </ng-container>

  <div *ngIf="authenticated" class="login-loading">
    <div class="loading__spinner">
      <div class="loading__spinner-part top">
        <div class="loading__spinner-rotator"></div>
      </div>
      <div class="loading__spinner-part bottom">
        <div class="loading__spinner-rotator"></div>
      </div>
    </div>
    <p class="loading__text">Loading content...</p>
  </div>
</div>
