.container {
  height: 800px;
}

.login-page {
  height: 100%;
  display: flex;
}

.login-description {
  width: 50%;
  min-height: 100%;
  background-color: var(--color-dark-grey-1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-title__light {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid white;
}

.login-click {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.text {
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: .25rem;
}

.button {
  margin-top: 2rem;
}

// loading login
.login-loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
}



