<ul class="accordion workout-list-item">
  <li cdkAccordionItem
    *ngFor="let workout of workouts; let index = index"
    class="accordion-item"
    role="button"
    #accordionItem="cdkAccordionItem"
    [attr.id]="'accordion-header-' + index"
    [attr.aria-expanded]="accordionItem.expanded"
    [attr.aria-controls]="'accordion-body-' + index"
  >
    <div class="workout-list-item__wrapper">
      <div class="example-accordion-item-header workout-list-item__row" (click)="accordionItem.toggle()">

        <span class="workout-list-item__name">{{ workout.name }}</span>
        <span class="workout-list-item__type">{{ workout.type }}</span>
        <div class="workout-list-item__complete" *ngIf="canCompleteWorkout && !workout.complete">
          <svg class="workout-list-item__x">
            <use xlink:href="../../../assets/img/icons.svg#icon-x"></use>
          </svg>
          <span>not completed</span>
        </div>
        <span class="workout-list-item__complete" *ngIf="canCompleteWorkout && workout.complete">
          <svg class="workout-list-item__x">
            <use xlink:href="../../../assets/img/icons.svg#icon-check"></use>
          </svg>
          <span>completed</span>
        </span>
        <span class="workout-list-item__dropdown">
          <svg *ngIf="!accordionItem.expanded" class="workout-list-item__expand">
            <use xlink:href="../../../assets/img/icons.svg#icon-chevron-down"></use>
          </svg>
          <svg *ngIf="accordionItem.expanded" class="workout-list-item__collapse">
            <use xlink:href="../../../assets/img/icons.svg#icon-chevron-up"></use>
          </svg>
        </span>
      </div>
      <button *ngIf="canAddToProgram" (click)="EditWorkoutListOfProgram(workout.id)" class="workout-list-item__button">
        {{GetIfWorkoutIdIsInProgram(workout.id) ? 'Remove from' : 'Add to' }} program</button>

      <ng-container *ngIf="canCompleteWorkout">
        <button *ngIf="!workout.complete" (click)="CompleteWorkout(workout)" class="workout-list-item__button">
          Complete workout</button>
      </ng-container>
    </div>

    <app-workout-detail
      class="example-accordion-item-body"
      role="region"
      [style.display]="accordionItem.expanded ? '' : 'none'"
      [attr.id]="'accordion-body-' + index"
      [attr.aria-labelledby]="'accordion-header-' + index"
      [selectedWorkout]="workout"
    >
    </app-workout-detail>
  </li>
</ul>
