.workout-list-item {
  font-size: 1.6rem;
  list-style: none;

  &__row {
    display: grid;
    grid-template-columns: 170px 160px auto auto;
    grid-template-rows: auto;

    text-transform: uppercase;
    width: 100%;
    padding: .5rem 0;
    margin: 1rem 0;

    cursor: pointer;

    border-bottom: 2px solid var(--color-dark-grey-1) ;
    border-left: 5px solid var(--color-dark-grey-1);
    border-radius: 3px;
  }

  &__row:hover {
    background-color: var(--color-dark-grey-3);
  }

  &__name,
  &__type,
  &__complete,
  &__dropdown {
    display: flex;
    align-items: center;
  }

  &__name {
    grid-column-start: 1;
    grid-column-end: 1;

    margin-left: 2rem;
  }

  &__type {
    grid-column-start: 2;
    grid-column-end: 2;
    font-style: italic;
  }

  &__complete {
    grid-column-start: 3;
    grid-column-end: 3;
  }

  &__dropdown {
    grid-column-start: 4;
    grid-column-end: 4;
    display: flex;
    justify-content: flex-end;
  }

  &__expand,
  &__collapse {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    fill: white;
  }

  &__button {
    border: none;
    border-radius: var(--button-border-radius);
    box-shadow: var(--button-box-shadow);
    font-size: var(--button-font-size);
    font-weight: var(--button-font-weight);
    font-family: inherit;
    margin: var(--button-inline-margin);
    white-space: nowrap;

    padding: var(--button-padding);
    background-color: var(--button-backgroundcolor);
    color: var(--button-color);
    cursor: var(--button-cursor);

    text-transform: var(--button-texttransform);
    letter-spacing: var(--button-letterspacing);

    &:hover {
      background-color: var(--button-backgroundcolor-hover);
      box-shadow: var(--button-box-shadow-hover);
      color: var(--button-color-hover);

    }
  }

  &__complete {
    display: flex;
    align-items: center;
  }

  &__check,
  &__x {
    width: 3rem;
    height: 3rem;
    outline: 1px;
    fill: var(--color-blue);
    margin-right: 2rem
  }
}

.workout-list-item__wrapper {
  display: flex;
}
