<li *ngIf="exercise" (click)="FlipShowExerciseDetails()" class="exercise-list-item">
  <div class="exercise-list-item__row">
    <span class="exercise-list-item__name">{{ exercise.name }} </span>
    <span class="exercise-list-item__sets">{{ exercise.totalSets }} </span>
    <span class="exercise-list-item__reps">{{ exercise.minReps }} - {{ exercise.maxReps }} </span>
    <span class="exercise-list-item__dropdown">
      <svg *ngIf="!showExerciseDetails" class="exercise-list-item__expand">
        <use xlink:href="../../../assets/img/icons.svg#icon-plus"></use>
      </svg>
      <svg *ngIf="showExerciseDetails" class="exercise-list-item__collapse">
        <use xlink:href="../../../assets/img/icons.svg#icon-minus"></use>
      </svg>
    </span>
  </div>

  <ng-container *ngIf="showExerciseDetails">
    <app-exercise-detail [selectedExercise]="exercise"
    [exerciseListItem]="this" class="exercise-list-item__detail"
    ></app-exercise-detail>
  </ng-container>
  <p></p>
</li>
