.exercise-list-item {
    list-style: none;

    &__row {
      display: grid;
      grid-template-columns: 40% 20% 20% 20%;
      grid-template-rows: auto;

      text-transform: uppercase;

      padding: .2rem 0;
      margin: 1rem 0;

      cursor: pointer;
      border-bottom: 1px solid white ;
      border-left: 5px solid var(--color-blue);
    }

    &__row:hover {
      background-color: var(--color-dark-grey-3);
    }

    &__name,
    &__sets,
    &__reps,
    &__dropdown {
      display: flex;
      align-items: center;
    }

    &__name {
      grid-column-start: 1;
      grid-column-end: 1;

      margin-left: 2rem;
    }

    &__sets {
      grid-column-start: 2;
      grid-column-end: 2;

    }

    &__reps {
      grid-column-start: 3;
      grid-column-end: 3;

    }

    &__dropdown {
      grid-column-start: 4;
      grid-column-end: 4;
      display: flex;
      justify-content: flex-end;
    }

    &__expand,
    &__collapse {
      width: 3rem;
      height: 3rem;
      margin-right: 1rem;
      fill: white;
    }

    &__detail {
      background-color: white;
    }
  }
