.goals-history-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 3px;
  color: white;

  padding: 1rem 1.5rem;

  cursor: pointer;

  &:hover {
    background-color: var(--color-dark-grey-5);
  }

  &__link {
    color: white;
  }

  &__title {
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-weight: 500;

    text-transform: uppercase;
    letter-spacing: .25rem;

    margin-bottom: 1rem;
  }

  &__wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  &__target {
    width: 6rem;
    height: 6rem;
    fill: white;
    margin-bottom: 1rem;

  }

  &__check,
  &__x {
    width: 3rem;
    height: 3rem;
    outline: 1px;
    fill: var(--color-blue);
    margin-bottom: 1rem;

  }
}
