<div [routerLink]="goal.id.toString()" >
  <li *ngIf="goal.achieved" class="goals-history-list-item">
    <div class="goals-history-list-item__wrapper">
      <span class="goals-history-list-item__title">Goal {{goal.id}}</span>
      <svg class="goals-history-list-item__check">
        <use xlink:href="../../../assets/img/icons.svg#icon-check"></use>
      </svg>
    </div>

    <svg class="goals-history-list-item__target">
      <use xlink:href="../../../assets/img/icons.svg#icon-target"></use>
    </svg>
    <span class="goals-history-list-item__link">Completed on: </span>
    <span>{{goal.endDate.split('T')[0]}}</span>
  </li>
</div>

<div [routerLink]="goal.id.toString()" >
  <li *ngIf="!goal.achieved" class="goals-history-list-item">
    <div class="goals-history-list-item__wrapper">
      <span class="goals-history-list-item__title">Goal {{goal.id}}</span>
      <svg class="goals-history-list-item__x">
        <use xlink:href="../../../assets/img/icons.svg#icon-x"></use>
      </svg>
    </div>

    <svg class="goals-history-list-item__target">
      <use xlink:href="../../../assets/img/icons.svg#icon-target"></use>
    </svg>
    <span class="goals-history-list-item__link">Archived on: </span>
    <span>{{goal.endDate.split('T')[0]}}</span>
  </li>
</div>

