.exercise-checklist {
    margin-top: 2rem;
    &__row-box {
      display: flex;
      align-items: center;
      margin: .5rem 0;
      cursor: pointer;
    }

    &__box {
    }

    &__row{
      display: grid;
      grid-template-columns: 40% 15% 35%;
      grid-template-rows: auto;
      width: 100%;

    }

    &__name {
      grid-column-start: 1;
      grid-column-end: 1;
    }

    &__sets {
      grid-column-start: 2;
      grid-column-end: 2;
    }

    &__reps {
      grid-column-start: 3;
      grid-column-end: 3;
    }
  }

  input[type="checkbox"] {
    background-color: transparent;
    margin: 0 1rem;

    font: inherit;
    width: 2rem;
    height: 2rem;
    border: 10px solid black;
    border-radius: 0.15em;

    cursor: pointer;
  }
