<div class="exercise-checklist">
  <div *ngFor="let exercise of exercises" class="exercise-checklist__row-box">
    <input type="checkbox" 
    [defaultChecked]="checkedExercises.includes(exercise.id!)" 
    name="exercises" 
    (change)="changeExercises(exercise)" 
    [value]="exercise.id"
    required>
    <label for="exercises{{exercise.id}}" class="exercise-checklist__row">
      <span class="exercise-checklist__name">{{exercise.name}}</span>
      <span class="exercise-checklist__sets">{{exercise.totalSets}} sets</span>
      <span class="exercise-checklist__reps">{{exercise.minReps}} reps</span>
    </label>
  </div>
</div>


