<app-error [error]="error" *ngIf="error"></app-error>
<div *ngIf="exercises.length > 0 && !error">
    <h2>Previous created exercises</h2>
    <p *ngIf="loading">Loading exercises...</p>
    <ul *ngIf="!loading">
        <li *ngFor="let exercise of exercises">
            <app-user-exercises-history-item [exercise]="exercise"></app-user-exercises-history-item>
        </li>
    </ul>
</div>