<h3>Workout: {{workout.name}}</h3>
<app-workout-create [editWorkout]="workout" *ngIf="edit"></app-workout-create>
<button type="button" class="button" (click)="changeEdit()">{{edit ? 'Hide': 'Edit'}} Workout</button>