<div class="page-content">
  <button routerLink="/goals" class="button">Back to dashboard</button>
  <div class="description-wrapper">
    <p class="goal-create-title">Set a new goal</p>
    <p class="description">You can pick a pre set goal or create a custom goal with the exercises of choice</p>
  </div>
  <app-goal-create-form></app-goal-create-form>
</div>
