.description-wrapper {
}

.description {
  font-size: 1.6rem;
  font-style: italic;
}

.goal-create-title {
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 3px solid var(--color-blue);
  letter-spacing: .25rem;
  padding: 1rem 4rem 1rem 0;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}
