<div class="programs-list-item">
  <div class="program-list-item__wrapper">
    <div (click)="ShowWorkoutsOfProgram()" class="programs-list-item__row">
      <span class="programs-list-item__name">{{program.name}}</span>
      <span class="programs-list-item__category">{{program.category}}</span>
      <span class="programs-list-item__dropdown">
            <svg *ngIf="!showWorkouts" class="programs-list-item__expand">
              <use xlink:href="../../../assets/img/icons.svg#icon-chevron-down"></use>
            </svg>
            <svg *ngIf="showWorkouts" class="programs-list-item__collapse">
              <use xlink:href="../../../assets/img/icons.svg#icon-chevron-up"></use>
            </svg>
          </span>

    </div>
    <button *ngIf="ableToEditProgram" (click)="EditProgram()" class="programs-list-item__button">Edit program</button>
  </div>
  <app-workout-list *ngIf="showWorkouts" [workouts]="workoutsOfProgram"></app-workout-list>
</div>
