.programs-list-item {
  font-size: 1.6rem;
  list-style: none;

  &__row {
    display: grid;
    grid-template-columns: 170px 160px auto;
    grid-template-rows: auto;

    text-transform: uppercase;
    width: 100%;
    padding: .5rem 0;
    margin: 1rem 0;

    cursor: pointer;
    border-bottom: 1px solid white ;
    border-left: 5px solid var(--color-blue);
    border-radius: 3px;
  }

  &__row:hover {
    background-color: var(--color-dark-grey-3);
  }

  &__name,
  &__category,
  &__dropdown {
    display: flex;
    align-items: center;
  }

  &__name {
    grid-column-start: 1;
    grid-column-end: 1;

    margin-left: 2rem;
  }

  &__category {
    grid-column-start: 2;
    grid-column-end: 2;

    font-style: italic;
  }

  &__dropdown {
    grid-column-start: 3;
    grid-column-end: 3;
    display: flex;
    justify-content: flex-end;
  }

  &__expand,
  &__collapse {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    fill: white;
  }

  &__button {
    border: none;
    border-radius: var(--button-border-radius);
    box-shadow: var(--button-box-shadow);
    font-size: var(--button-font-size);
    font-weight: var(--button-font-weight);
    font-family: inherit;
    margin: var(--button-inline-margin);

    padding: var(--button-padding);
    background-color: var(--button-backgroundcolor);
    color: var(--button-color);
    cursor: var(--button-cursor);

    text-transform: var(--button-texttransform);
    letter-spacing: var(--button-letterspacing);

    &:hover {
      background-color: var(--button-backgroundcolor-hover);
      box-shadow: var(--button-box-shadow-hover);
      color: var(--button-color-hover);
    }
  }
}

.program-list-item__wrapper {
  display: flex;
}
