fieldset {
  width: 100%;
  margin: 2rem 0;
}

label {
  width: 10%;
}

input[type="text"] {
  width: 50%;
}

.form-item {
  display: flex;
  align-items: center;
}

.workout-title {
  display: inline-block;
  padding: 1rem 4rem 1rem 0;
  margin-top: 1rem;
  font-size: 2.5rem;
  line-height: 2.5rem;
  text-transform: uppercase;
  letter-spacing: .25rem;
  font-weight: 500;
  border-bottom: 3px solid var(--color-blue);
  color: white;
}

.error {
  color: red;
  font-weight: bold;
}
.success {
    color: green;
    font-weight:bold;
}
.workout_creating {
    color: yellow;
    font-weight: bold;
}

.exercises-description {
  margin-left: 3rem;

}

.exercise-checklist-box {
  margin-top: 1rem;
}

.workout-loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 500px;
}
