<app-error [error]="error" *ngIf="error"></app-error>
<app-success [item]="'workout'" *ngIf="success" [update]="workout != undefined ? true : false"></app-success>

<div *ngIf="loading" class="workout-loading">
  <div class="loading__spinner">
    <div class="loading__spinner-part top">
      <div class="loading__spinner-rotator"></div>
    </div>
    <div class="loading__spinner-part bottom">
      <div class="loading__spinner-rotator"></div>
    </div>
  </div>
  <p class="loading__text">Loading workout form...</p>
</div>

<form #workoutCreateForm="ngForm" (ngSubmit)="workoutCreateSubmit(workoutCreateForm)" *ngIf="!loading">
  <p class="workout-title">{{workout == undefined ? 'Create New' : 'Edit'}} Workout</p>
  <fieldset class="content">
        <p class="success" *ngIf="success">Workout successfully {{workout == undefined ? 'created' : 'edited'}}!</p>
        <label for="workouts">

        </label>
      <div class="form-item">
        <label for="workout-name">Name*: </label>
        <input type="text" ngModel name="workoutName" [value]="workout ? workout.name : ''" placeholder="{{workout ? workout.name : '(e.g. Intense cardio)'}}" required [disabled]="workout != undefined && !enableName">
        <button *ngIf="workout" (click)="enableNameEdit()" type="button" class="button">Edit name</button>
      </div>

      <div class="form-item">
        <label for="workout-type">Type*: </label>
        <select type="text" ngModel name="workoutType" required>
            <option value="" selected disabled>{{workout ? workout.type : 'Select a workout type'}}</option>
            <option *ngFor="let workoutType of allWorkoutTypes" [value]="workoutType">
              {{ workoutType }}
            </option>
        </select>
      </div>
    </fieldset>

    <fieldset class="content">
        <label for="exercises">
          <p>Select the exercises you want to add to a workout:</p>
        </label>
        <p *ngIf="loading">Loading exercises....</p>
      <div class="exercise-checklist-box">
        <select (change)="changeMuscleGroup($event)">
            <option value="" disabled selected>Select a muscle group</option>
            <option value="0">All exercises</option>
            <option *ngFor="let muscleGroup of muscleGroups" [value]="muscleGroup.id">
                {{muscleGroup.name}}
            </option>

        </select>
        <label class="exercises-description">Exercises per page:</label>
        <select (change)="ChangePageSizeEvent($event)">
            <option *ngFor="let pageSizeOption of pageSizeOptions">
                {{ pageSizeOption }}
            </option>
        </select>

        <app-exercise-checklist
        [exercises]="limitExercises"
        (changedExercises)="changeExercises($event)"
        [checkedExercises]="exerciseIds">
        </app-exercise-checklist>
        <mat-paginator #paginator [length]="selectedExercises.length" [pageSize]="10" (page)="OnPageChange($event)" [hidePageSize]="true"
        aria-label="Select page">
    </mat-paginator>
      </div>
</fieldset>

<fieldset>
    <p *ngIf="workoutCreateForm.form.invalid && workoutCreateForm.form.dirty" class="error">Please fill in the required fields</p>
    <p *ngIf="!CheckIfAddedExercises() && workoutCreateForm.form.dirty" class="error">Please add exercises to the workout</p>
    <button type="submit" [disabled]="workoutCreateForm.form.invalid && workoutCreateForm.form.dirty|| !CheckIfAddedExercises()" class="button">
        {{workout == undefined ? 'Save' : 'Update'}} workout
    </button>
    <button type="reset" (click)="reset()" class="button">Reset form</button>
</fieldset>

</form>
