<div class="page-content">
  <div class="page-title">
    <span class="page-title__light">Registration</span>
    <span class="page-title__bold">form</span>
  </div>

  <app-profile-form (setProfileForm)="GetProfileForm($event)"></app-profile-form>

  <p class="register-title">Fitness assessment</p>
  <p class="description">To show you the programs that fit the best to your fitness level, please do the exercises below and fill in your score/outcome</p>

  <ul>
    <p></p>
    <app-register-exercise
      *ngFor="let registerExercise of allRegisterExercises"
      [registerExercise]="registerExercise"
      (addRegisterExercise)="AddRegisterExerciseComponent($event)"
    >
    </app-register-exercise>
  </ul>

  <p>*: is required</p>

  <button [disabled]="!validForm || creatingNewProfile" (click)="RegisterUser()" class="button">
    Submit
  </button>
  <span *ngIf="creatingNewProfile">Creating new account...</span>
  </div>
