<h1>Edit profile</h1>

<app-profile-form (setProfileForm)="GetProfileForm($event)"
[initialWeight]="profile.weight"
[initialHeight]="profile.height"
[initialDisability]="profile.disabilities"
[initialMedicalCondition]="profile.medicalConditions"
[initialAddressLine1]="address.addressLine1"
[initialAddressLine2]="address.addressLine2"
[initialAddressLine3]="address.addressLine3"
[initialCity]="address.city"
[initialCountry]="address.country"
[initialPostalCode]="address.postalCode"
[initialWantsToBeContributor]="wantsToBeContributor"
[initialImageURL]="imgURL"
></app-profile-form>

<p>*: is required</p>

<p></p>
<button [disabled]="!validForm || editingProfile" (click)="SaveChangesToProfile()" class="button">Save changes to profile</button>
<span *ngIf="editingProfile">Editing profile...</span>