<app-error [error]="error" *ngIf="error"></app-error>
<app-success [item]="'goal'" *ngIf="goalSuccess"></app-success>

<form class="goal-form" #goalSetForm="ngForm" (ngSubmit)="goalSetSubmit(goalSetForm)" *ngIf="!loading">
  <fieldset>
    <label for="endDate">End date* </label>
    <input type="datetime-local" min="{{todaysDate}}" max="{{endOfWeek}}" ngModel name="endDate" required>
  </fieldset>

  <fieldset *ngIf="!custom">
    <p class="goal-create-title">Pick pre set goal</p>
    <p class="description">You can either choose a pre defined program or choose your own workouts</p>
    <div>
      <label *ngIf="difficultyWarning" class="warning"><p>Program too difficult for your current fitness evaluation. Are you sure? </p></label>
      <label for="fitnessProgram">Fitness program: </label>
      <select ngModel name="fitnessProgram" (change)="changeWorkouts($event)">
        <option value="" disabled selected>Select a fitness program</option>
        <option value="-1">Custom program</option>
        <option *ngFor="let program of fitnessPrograms" [value]="program.id">{{program.name}} - {{program.category}} {{doableCategories.indexOf(program.category) == -1 ? '(Not Recommended)' : ' (Recommended)'}}
        </option>
      </select>
    </div>
  </fieldset>

  <fieldset *ngIf="!custom">
    <div *ngFor="let workout of workouts">
      <app-workout-checklist
      [workout]="workout"
      (changedWorkouts)="workoutCheckboxChange(workout)"
      [selectedWorkouts]="workoutIds"
      required></app-workout-checklist>
    </div>
  </fieldset>

  <div *ngIf="custom">
    <fieldset>
      <p *ngIf="loading">Loading exercises....</p>

      <p class="goal-create-title">Create custom goal</p>
      <div>
        <select (change)="changeMuscleGroup($event)">
          <option value="" disabled selected>Select a muscle group</option>
          <option value="0">All exercises</option>
          <option *ngFor="let muscleGroup of muscleGroups" [value]="muscleGroup.id">
            {{muscleGroup.name}}
          </option>

        </select>
        <label>Exercises per page:</label>
        <select (change)="ChangePageSizeEvent($event)">
          <option *ngFor="let pageSizeOption of pageSizeOptions">
            {{ pageSizeOption }}
          </option>
        </select>

        <app-exercise-checklist [exercises]="limitExercises" (changedExercises)="changeExercises($event)" [checkedExercises]="exerciseIds"></app-exercise-checklist>
      </div>
    </fieldset>
    <mat-paginator #paginator [length]="selectedExercises.length" [pageSize]="10" (page)="OnPageChange($event)"
    aria-label="Select page">
  </mat-paginator>
</div>
<fieldset>
  <button type="button"
  (click)="changeCustom()"class="button">{{custom ? 'Pre-Set Goal' : 'Custom Goal'}}</button>
  <button type="submit" [disabled]="goalSetForm.form.invalid || noValues" class="button">Save Goal</button>
  <p *ngIf="noValues || (goalSetForm.form.invalid && goalSetForm.form.dirty)" class="warning"> Please supply a value for the required fields</p>
</fieldset>
</form>
