@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
  --color-blue: #0047e8;
  --color-dark-grey-1: #1e1e1e;
  --color-dark-grey-2: #323232;
  --color-dark-grey-3: #474747;
  --color-dark-grey-4: #3f3f3f;
  --color-dark-grey-5: #505050;
  --color-light-grey-1: #adadad;

  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);


  --button-font-weight: 500;
  --button-font-size: 1.6rem;
  --button-border-radius: 2px;
  --button-box-shadow: 3.5px 3.5px 0 var(--color-blue);
  --button-padding: 1rem 2rem;
  --button-inline-margin: 1rem 2rem;
  --button-margin: 1rem 2rem 1rem 0;
  --button-backgroundcolor: white;
  --button-color: black;
  --button-cursor: pointer;
  --button-texttransform: uppercase;
  --button-letterspacing: .15rem;

  --button-color-hover: white;
  --button-backgroundcolor-hover: var(--color-blue);
  --button-box-shadow-hover: 3.5px 3.5px 0 var(--color-dark-grey-1);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: .15rem;
  color: #fff;
  min-height: 100vh;
  background-color: black;
  background-image: url(assets/img/background.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.page-content {
  font-size: 1.6rem;
  padding: 3rem 5rem;
}

h3 {
  text-transform: uppercase;
  font-weight: 300;
}

h1 {
  display: inline-block;
  font-size: 2.5rem;
  line-height: 2.5rem;
  text-transform: uppercase;
  font-weight: 500;
  padding-bottom: 0.5rem;
  color: white;
}

fieldset {
  border: none;
}

input {
  font-family: inherit;
  font-size: inherit;

  padding: .5rem .5rem .5rem 1rem;
  margin-left: 1rem;
}

select {
  font-family: inherit;
  font-size: inherit;

  padding: .5rem;
  margin: 1rem 0 0 1rem;
}

.cdk-overlay-container {
  display: none;
  visibility: hidden;
}

////// Button
.button {
  border: none;
  border-radius: var(--button-border-radius);
  box-shadow: var(--button-box-shadow);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  font-family: inherit;
  margin: var(--button-margin);

  padding: var(--button-padding);
  background-color: var(--button-backgroundcolor);
  color: var(--button-color);
  cursor: var(--button-cursor);

  text-transform: var(--button-texttransform);
  letter-spacing: var(--button-letterspacing);
  white-space: nowrap;

  &:hover {
    background-color: var(--button-backgroundcolor-hover);
    box-shadow: var(--button-box-shadow-hover);
    color: var(--button-color-hover);
  }

  &:disabled {
    color: var(--color-dark-grey-2);
    background-color: var(--color-light-grey-1);
    box-shadow: var(--button-box-shadow);
    cursor: not-allowed;
  }
}
.error {
  color: red;
  font-weight: bold;
}

////// Page title
.page-title {
  display: flex;
  flex-direction: column;

  &__bold {
    color: var(--color-blue);
    font-size: 4rem;
    font-weight: bold;
    line-height: 4rem;
    text-transform: uppercase;
  }

  &__light {
    font-size: 3rem;
    font-weight: lighter;
    line-height: 3rem;
    text-transform: uppercase;
  }
}


////// Loading spinner
.loading__spinner, .loading__spinner * {
  box-sizing: border-box;
}

.loading__spinner {
  height: 60px;
  width: 60px;
}

.loading__text {
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: .25rem;
  margin-top: 4rem;
}

.loading__spinner .loading__spinner-part {
  overflow: hidden;
  height: calc(60px / 2);
  width: 60px;
}

.loading__spinner  .loading__spinner-part.bottom {
  transform: rotate(180deg) scale(-1, 1);
}

.loading__spinner .loading__spinner-rotator {
  width: 60px;
  height: 60px;
  border: calc(60px / 7) solid transparent;
  border-right-color: var(--color-blue);
  border-top-color: var(--color-blue);
  border-radius: 50%;
  box-sizing: border-box;
  animation: loading-spinner-animation 3s ease-in-out infinite;
  transform: rotate(-200deg);
}

@keyframes loading-spinner-animation {
  0% {
    border-width: calc(60px / 7);
  }
  25% {
    border-width: calc(60px / 23.33);
  }
  50% {
    transform: rotate(115deg);
    border-width: calc(60px / 7);
  }
  75% {
    border-width: calc(60px / 23.33);
  }
  100% {
    border-width: calc(60px / 7);
  }
}


