.goals-dashboard {
  color: white;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  grid-template-rows: 1fr 1fr;
  width: 100%;

  margin-top: 2rem;

  & > * {
    background-color: var(--color-dark-grey-4);
    box-shadow: .2rem .2rem 2rem rgba(0,0,0,.3);
    border-radius: 5px;
    padding: 2rem;
  }

  &__user {
    grid-column: 2 / 4;
    grid-row: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-title {
      display: flex;
      flex-direction: column

    }

    &-fitness-attributes {
      margin-top: 2rem;

      display: grid;
      grid-template-columns: 45% 55%;
      grid-template-rows: auto auto auto auto auto;
    }
  }

  &__date {
    background-color: var(--color-blue) !important;
    grid-column: 1;
    grid-row: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-transform: uppercase;

    & > * {
    }

    &-weekday {
      font-size: 3rem;
      font-weight: 300;
      line-height: 3rem;
      justify-content: center;
    }

    &-today {
      background-color: var(--color-blue);
      font-size: 8rem;
      font-weight: bold;
      line-height: 8rem;
    }

    &-month {
      font-size: 3rem;
      font-weight: 300;
      line-height: 3rem;
    }
  }

  &__week-goals {
    grid-column: 4;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-header {
      padding-bottom: .5rem;
      border-bottom: 2px solid var(--color-dark-grey-1);
    }

    &:hover {
      background-color: var(--color-dark-grey-3);
    }

  }

  &__days-left {
    background-color: var(--color-dark-grey-1) !important;
    grid-column: 4;
    grid-row: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-transform: uppercase;

    &-day {

      font-size: 8rem;
      font-weight: bold;
      line-height: 8rem;
    }

    &-text {
      font-size: 3rem;
      font-weight: 300;
      line-height: 3rem;
    }
  }

  &__goal-history {
    grid-column: 1 / 3;
    grid-row: 2;
    flex-wrap: wrap;

    &-header {
      padding-bottom: .5rem;
      border-bottom: 2px solid var(--color-dark-grey-1);
    }

    &-wrapper {
    }
  }

  &__new-goal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
      text-decoration: none;
    }

    &-no-goals
    {
      text-transform: uppercase;
      font-size: 3rem;
      line-height: 3rem;

    }

  }
}

.button {
  margin-right: 0;
}



::ng-deep .mat-paginator {
  .ng-reflect-message {
    display: none;
  }
  .mat-paginator-container {
    justify-content: center;
  }

  .mat-tooltip {
    display: none;
  }

  .mat-icon-button {
    background-color: transparent;
  }

  .mat-paginator-icon {
    width: 35px;
  }

  // override material paginator page switch
  .mat-paginator-range-label {
    order: 2;
    margin: 0 auto;
  }

  .mat-paginator-navigation-previous {
    order: 1;
    margin-right: 1rem

  }
  .mat-paginator-navigation-next {
    order: 3;
    margin-left: 1rem;

  }
}

.weight,
.height,
.disabilities,
.medical-conditions,
.fitness-rating {
  font-weight: 500;
  text-transform: uppercase;
}

.weight {
  grid-column: 1;
  grid-row: 1;
}

.weight-content {
  grid-column: 2;
  grid-row: 1;
}

.height {
  grid-column: 1;
  grid-row: 2;
}

.height-content {
  grid-column: 2;
  grid-row: 2;
}

.disabilities {
  grid-column: 1;
  grid-row: 3;
}

.disabilities-content {
  grid-column: 2;
  grid-row: 3;
}

.medical-conditions {
  grid-column: 1;
  grid-row: 4;
}

.medical-conditions-content {
  grid-column: 2;
  grid-row: 4;
}

.fitness-rating {
  grid-column: 1;
  grid-row: 5;
}

.fitness-rating-content {
  grid-column: 2;
  grid-row: 5;
}
