<app-error [error]="error" *ngIf="error"></app-error>
<div class="page-content" *ngIf="!loading && !error">
  <section class="page-title">
    <span class="page-title__bold">Goals</span>
    <span class="page-title__light">Dashboard</span>
  </section>
  <div class="dashboard">
    <section class="dashboard__user">
      <div class="dashboard__user-title">
        <span class="page-title__bold">Welcome</span>
        <span class="page-title__light">{{fullName}}</span>
      </div>
      <div class="dashboard__user-fitness-attributes">
        <span class="weight">Weight:</span>
        <span class="weight-content">{{profile.weight}} kg</span>

        <span class="height">Height:</span>
        <span class="height-content">{{profile.height}} m</span>

        <span class="disabilities">Disabilities:</span>
        <span class="disabilities-content">{{profile.disabilities}}</span>

        <span class="medical-conditions">Medical condition:</span>
        <span class="medical-conditions-content">{{profile.medicalConditions}}</span>

        <span class="fitness-rating">Fitness rating: </span>
        <span class="fitness-rating-content">{{profile.fitnessEvaluation}}</span>
      </div>
    </section>

    <section class="dashboard__date">
        <span class="dashboard__date-weekday">{{weekday}}</span>
        <span class="dashboard__date-today">{{today}}</span>
        <span class="dashboard__date-month">{{month}}</span>
    </section>

    <section class="dashboard__week-goals">
      <h3 class="dashboard__week-goals-header">This week's goals</h3>
      <app-goals-list *ngIf="currentGoals" [goals]="selectedGoals"></app-goals-list>
      <mat-paginator
        #paginator
        [length]="currentGoals.length"
        [pageSize]="1"
        (page)="OnPageChange($event)"
        [hidePageSize]="true"
        matTooltipDisabled="true"
        aria-label="Select page"
      >
      </mat-paginator>
    </section>

    <section class="dashboard__days-left">
      <span class="dashboard__days-left-day">{{daysLeft}}</span>
      <span class="dashboard__days-left-text">days left</span>
    </section>

    <section class="dashboard__new-goal">
      <p *ngIf="currentGoals.length == 0" class=dashboard__new-goal-no-goals>No goals set</p>
      <a routerLink="create" class="button">Set a new goal</a>
    </section>

    <section class="dashboard__goal-history">
      <h3 class="dashboard__goal-history-header">Goals history</h3>
      <app-goals-history-list [pastGoals]="selectedHistory" class="dashboard__goal-history-wrapper"></app-goals-history-list>
      <mat-paginator
        #paginator
        [length]="previousGoals.length"
        [pageSize]="3"
        (page)="OnHistoryChange($event)"
        [hidePageSize]="true"
        matTooltipDisabled="true"
        aria-label="Select page"
      >
      </mat-paginator>
    </section>

  </div>
</div>

<div class="container" *ngIf="loading">
  <p>Loading...</p>
</div>
