.page-content {
  padding: 5rem 7rem;
}

.description {
  margin-top: 3rem;
  font-size: 1.6rem;
  font-style: italic;
}

.settings{
  display: flex;

  &__profile {

  }
  &__address {
    margin-left: 15rem;

  }
}

.profile-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.select-image {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

label.button {
  margin-top: 2rem;
  text-align: center;
}

#files {
  display: none;
}

.register-title {
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 3px solid var(--color-blue);
  letter-spacing: .25rem;
  padding: 1rem 4rem 1rem 0;
  margin-top: 1rem !important;
  margin-bottom: 2rem !important;
  white-space: nowrap;
}

input[type="text"] {
  margin: 0;
}

select {
  margin: 1rem 0 1rem 2rem;
  padding: 1.6rem;
  font-family: inherit;
  font-size: 1.4rem;
  letter-spacing: .15rem;
  border: none;
  border-radius: 3px;
}

input[type="checkbox"] {
  background-color: transparent;
  margin: 0 1rem;

  font: inherit;
  width: 2rem;
  height: 2rem;
  border: 10px solid black;
  border-radius: 0.15em;

  cursor: pointer;
}

p {
  font-size: 1.4rem;
}

.custom-input {
  span {
    position: relative;
    display: inline-block;
    margin: 1rem 0;
  }
}
.input-label {
  display: inline-block;
  width: 400px;
  padding: 1.6rem 0 1.8rem 1.0rem;
  font-family: inherit;
  font-size: 1.4rem;
  letter-spacing: .1rem;
  font-weight: 500;
  color: var(--color-dark-grey-1);
  background: #efefef;
  border: 0;
  border-radius: 3px;
  outline: 0;
  text-indent: 135px;
  transition: all .3s ease-in-out;

  &::placeholder {
    color: #efefef;
    text-indent: 0;
    font-weight: 300;
    font-family: inherit;
  }

  + label {
    display: inline-block;
    position: absolute;
    top: 9px;
    left: 8px;
    padding: 5px 15px;
    color: var(--color-dark-grey-1);
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(19,74,70,0);
    transition: all .3s ease-in-out;
    background: rgba(122,184,147,0);

    &:after {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      top: 100%;
      left: 50%;
      margin-left: -3pxpx;
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      border-top: 3px solid rgba(122,184,147,0);
      transition: all .3s ease-in-out;
    }
  }
}
.input-label:focus,
.input-label:active {
  color: var(--color-dark-grey-1);
  text-indent: 9px;
  background: #fff;
  &::placeholder {
    text-indent: 9px;
    font-family: inherit;
    color: #aaa;
  }
  + label {
    color: white;
    text-shadow: 0 1px 0 rgb(0, 15, 49);
    background: var(--color-blue);
    border-radius: 3px;
    border: none;
    transform: translateY(-32px);
  }
}
