<form [formGroup]="profileForm">
  <p class="description">Please first create a profile by filling in this register form</p>
  <div class="settings">
    <div class="settings__profile">
      <div class="custom-input">
        <p class="register-title">Profile settings</p>
      <div class="profile-pic">
        <img [src]="imgURL" height="116" width="116">
        <p *ngIf="!CheckIfImageIsValid()">Select an image file (.png, .jpeg, etc.)</p>
        <div class="select-image">
          <label for="files" class="button">Select profile picture</label>
          <input id="files" style="visibility:hidden;" type="file" (change)="UploadProfilePicture($event)" accept="image/*">
        </div>
      </div>
      <div>
        <span>
          <input class="input-label" id="weight" type="text" formControlName="weight" placeholder="75,5"/>
          <label for="weight">Weight*</label>
        </span>
        <ng-container *ngIf="profileForm.controls['weight'].invalid && profileForm.controls['weight'].touched">
          <p *ngIf="profileForm.controls['weight'].errors?.['required']">Weight is required</p>
          <p *ngIf="profileForm.controls['weight'].errors?.['minlength']">Weight has a minimal length of 2</p>
          <p *ngIf="profileForm.controls['weight'].errors?.['maxlength']">Weight has a maximum length of 6</p>
          <p *ngIf="profileForm.controls['weight'].errors?.['pattern']">First kg, then 2 decimal grams (optional), separated by comma, only numbers. Example: 75,50</p>
        </ng-container>
      </div>

      <p></p>
      <div>
        <span>
          <input class="input-label" id="height" type="text" formControlName="height" placeholder="1,75"/>
          <label for="height">Height*</label>
        </span>
          <ng-container *ngIf="profileForm.controls['height'].invalid && profileForm.controls['height'].touched">
            <p *ngIf="profileForm.controls['height'].errors?.['required']">Height is required</p>
            <p *ngIf="profileForm.controls['height'].errors?.['minlength']">Height has a minimal length of 4</p>
            <p *ngIf="profileForm.controls['height'].errors?.['maxlength']">Height has a maximum length of 4</p>
            <p *ngIf="profileForm.controls['height'].errors?.['pattern']">First amount of meters, followed by centimeters, separated by comma, only numbers. Example: 1,75</p>
          </ng-container>
      </div>

      <p></p>
      <div>
          <label for="disabilities">Disabilities*: </label>
          <select id="disabilities" type="text" formControlName="disabilities">
              <option *ngFor="let disabilityType of disabilityTypes">
                {{ disabilityType }}
              </option>
          </select>
          <span class="custom-arrow"></span>
          <ng-container *ngIf="CheckIfStringIsValue(profileForm.controls['disabilities'].value, otherDisabilityType)">
              <label for="otherDisabilities"></label>
              <input id="otherDisabilities" type="text" formControlName="otherDisabilities" placeholder="Some disability"/>
              <ng-container *ngIf="profileForm.controls['otherDisabilities'].touched">
                  <p *ngIf="CheckIfStringIsFilledIn(profileForm.controls['otherDisabilities'].value)">Disability is required</p>
                  <p *ngIf="CheckIfStringHasMinimumValue(profileForm.controls['otherDisabilities'].value)">Disability has minimum length of 3</p>
              </ng-container>
          </ng-container>
      </div>

      <p></p>
      <div>
          <label for="medicalConditions">Medical conditions*: </label>
          <select id="medicalConditions" type="text" formControlName="medicalConditions">
              <option *ngFor="let medicalCondition of medicalConditions">
                {{ medicalCondition }}
              </option>
          </select>
          <ng-container *ngIf="CheckIfStringIsValue(profileForm.controls['medicalConditions'].value, otherMedicalCondition)">
          <label for="otherMedicalConditions"></label>
              <input id="otherMedicalConditions" type="text" formControlName="otherMedicalConditions" placeholder="Some medical condition"/>
              <ng-container *ngIf="profileForm.controls['otherMedicalConditions'].touched">
                  <p *ngIf="CheckIfStringIsFilledIn(profileForm.controls['otherMedicalConditions'].value)">Medical condition is required</p>
                  <p *ngIf="CheckIfStringHasMinimumValue(profileForm.controls['otherMedicalConditions'].value)">Medical condition has minimum length of 3</p>
              </ng-container>
          </ng-container>
      </div>

      <p></p>
      <label for="wantsToBeContributor">Do you want to be a contributor: </label>
      <input id="wantsToBeContributor" type="checkbox" formControlName="wantsToBeContributor"/>

    </div>
    </div>



    <div class="settings__address">
      <div class="custom-input">
        <p class="register-title">Address settings</p>
      <div>
        <span>
          <input class="input-label" id="addressLine1" type="text" formControlName="addressLine1" placeholder="Wibout street"/>
          <label for="addressLine1">Street*</label>
        </span>
          <ng-container *ngIf="profileForm.controls['addressLine1'].invalid && profileForm.controls['addressLine1'].touched">
            <p *ngIf="profileForm.controls['addressLine1'].errors?.['required']">Street is required</p>
            <p *ngIf="profileForm.controls['addressLine1'].errors?.['minlength']">Street has a minimal length of 5</p>
            <p *ngIf="profileForm.controls['addressLine1'].errors?.['maxlength']">Street has a maximum length of 100</p>
            <p *ngIf="profileForm.controls['addressLine1'].errors?.['pattern']">Only letters are allowed</p>
          </ng-container>
      </div>

      <p></p>
      <div>
        <span>
          <input class="input-label" id="addressLine2" type="text" formControlName="addressLine2" placeholder="5"/>
          <label for="addressLine2">House no*</label>
        </span>
          <ng-container *ngIf="profileForm.controls['addressLine2'].invalid && profileForm.controls['addressLine2'].touched">
              <p *ngIf="profileForm.controls['addressLine2'].errors?.['required']">House number is required</p>
            <p *ngIf="profileForm.controls['addressLine2'].errors?.['minlength']">House number has a minimal length of 1</p>
            <p *ngIf="profileForm.controls['addressLine2'].errors?.['maxlength']">House number has a maximum length of 4</p>
            <p *ngIf="profileForm.controls['addressLine2'].errors?.['pattern']">Only numbers are allowed</p>
          </ng-container>
      </div>

      <p></p>
      <div>
        <span>
          <input class="input-label" id="addressLine3" type="text" formControlName="addressLine3" placeholder="b"/>
          <label for="addressLine3">Unit no</label>
        </span>
          <ng-container *ngIf="profileForm.controls['addressLine3'].invalid && profileForm.controls['addressLine3'].touched">
            <p *ngIf="profileForm.controls['addressLine3'].errors?.['minlength']">Unit number has a minimal length of 1</p>
            <p *ngIf="profileForm.controls['addressLine3'].errors?.['maxlength']">Unit number has a maximum length of 4</p>
          </ng-container>
      </div>

      <p></p>
      <div>
          <label for="country">Country*</label>
          <select id="country" type="text" formControlName="country">
              <option *ngFor="let country of countries">
                {{ country }}
              </option>
          </select>
      </div>

      <p></p>
      <div>
        <span>
          <input class="input-label" id="city" type="text" formControlName="city" placeholder="Amsterdam"/>
          <label for="city">City*</label>
        </span>
          <ng-container *ngIf="profileForm.controls['city'].invalid && profileForm.controls['city'].touched">
            <p *ngIf="profileForm.controls['city'].errors?.['required']">City is required</p>
            <p *ngIf="profileForm.controls['city'].errors?.['minlength']">City has a minimal length of 3</p>
            <p *ngIf="profileForm.controls['city'].errors?.['maxlength']">City has a maximum length of 100</p>
            <p *ngIf="profileForm.controls['city'].errors?.['pattern']">Only letters are allowed</p>
          </ng-container>
      </div>

      <p></p>
      <div>
        <span>
          <input class="input-label" id="postalCode" type="text" formControlName="postalCode" placeholder="AAAA11"/>
          <label for="postalCode">Postal code*</label>
        </span>
        <ng-container *ngIf="profileForm.controls['postalCode'].invalid && profileForm.controls['postalCode'].touched">
            <p *ngIf="profileForm.controls['postalCode'].errors?.['required']">Postal code is required</p>
          </ng-container>
      </div>
    </div>
  </div>
  </div>
</form>
