.register-assessment {
  padding-bottom: 2rem;
  margin-top: 2rem;
  border-bottom: 2px solid white;
}

.register-exercise {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


