<div class="register-assessment">
  <div class="register-exercise">
    <h3>{{registerExercise.Title}}</h3>
    <button (click)="ShowDescription()" class="button">{{showDescription ? "Hide" : "Show"}} exercise description</button>
  </div>
  <p *ngIf="showDescription">{{registerExercise.DescriptionExerciseInfo}}<br><br><b>How to do this exercise:</b><br><br>{{registerExercise.DescriptionHowToDo}}</p>
  <p></p>
  <label><b>{{registerExercise.WhatToFillIn}}</b></label>
  <select #answerInput>
      <option *ngFor="let answer of answers">
        {{ answer }}
      </option>
  </select>
</div>
